
.card{
    background-color: white;
    padding:50px;
    width: 300px;
    font-family: sans-serif;
    margin: 50px; 
    border-radius: 10px;
}
body{
    display: flex;
    background-color: rgb(198, 205, 255);
    align-items: center;
    justify-content: center;
}
form {
    text-align: center;
}
.title{

}
.subtitle{
    font-weight:bolder;
    margin-bottom: 60px;
    
}

.social-login {

}
.google-btn {

}
.btn-text {

}
.fb-btn {

}

.or{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.or::before, .or::after{
    content:"";
    flex: 1px;
    height: 1px;
    background-color: gray;


}
     
.email-login {
    color: rgb(189, 177, 177);
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}
.enter-password {
    color: rgb(228, 214, 214);
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}
.cta-btn {

}
.forget-pass{
    display: block;
    margin-top: 10px;
    color: #473f90;
    font-weight: bolder;
}