.card{
    background-color: white;
    padding:50px;
    width: 300px;
    font-family: sans-serif;
    margin: 50px; 
    border-radius: 10px;
    
}
body{
    display: flex;
    background-color: rgb(198, 205, 255);
    align-items: center;
    justify-content: center;
}

.title{

}
.subtitle{
    font-weight:bolder;
}

.social-login {

}
.google-btn {

}
.btn-text {

}
.fb-btn {

}

.or{
  
}
     
.email-login {
    color: rgb(133, 120, 120);
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}
.enter-password {
    color: rgb(133, 120, 120);
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}
.cta-btn {

}
.forget-pass{
    
}